/* LAYOUT */

/* Para que aproveche toda la altura del dispositivo */
html,body {
    height: 100%;
}

.vh-100{
    height: 100%;
}


/* INDEX */

/* Fondo de imagen de la columna de la portada */

.indexWallpaper{
    background-image: url("https://www.tuexpertoapps.com/wp-content/uploads/2018/01/sopa-de-letras-android.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
}

/* LOGIN */

/* Padding del formulario de la p치gina login */
.loginForm{
    padding-left:40px !important;
    padding-right:40px !important;
}

/* PLAY */

/* Color de fondo de la columna de la p치gina play */
.sidebar-bg-color{
    background: #ddaf79;
    color: #372218;
}

/* Color de fondo de letra seleccionada */
.soup{
    background-color: yellow !important;
}

/* Clase para div game de la p치gina play */
.gameOff{
    pointer-events:none;
}

/* Clase para letra de la p치gina play */
.letterOff{
    pointer-events:none;
}

/* Clase overline para tachar una palabra del listado */
.lineThrough{
    text-decoration:line-through;
}
